<div class="centered container">
  <div>
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          Forgot your password?
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form (ngSubmit)="onSubmit()" [formGroup]="form">
          <div>
            <mat-form-field>
              <input type="email" matInput placeholder="Email" formControlName="email">
              <mat-error *ngIf="form.get('email').invalid">Please enter correct email</mat-error>
            </mat-form-field>
          </div>
          <button type="submit">Send</button>
        </form>
      </mat-card-content>
    </mat-card>
    <span>Return to   <a routerLink="/">Sign in</a></span>
  </div>
</div>
