.container{
  padding: 40px;
  background-color: grey;
}
.centered{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}
button{
  background-color: turquoise;
  padding: auto;
}
