<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="container">
  <mat-card class="card">
    <mat-card-content>
      <h4 class="full-width">Forgot your password?</h4>
      <h4 class="full-width">Enter your email adress below and we will send you instructions on how to change your password</h4>
      <form (ngSubmit)="onSubmit()" [formGroup]="form">
        <div>
          <mat-form-field class="full-width">
            <input type="email" matInput placeholder="Email" formControlName="email">
            <mat-error *ngIf="form.get('email').invalid">Please enter correct email</mat-error>
          </mat-form-field>
        </div>
        <button class="full-width" type="submit">Send</button>
      </form>
    </mat-card-content>
  </mat-card>
  <p class="full-width">Return to   <a routerLink="/">Sign in</a></p>
</div>
