.card {
  box-sizing: border-box;
  max-width: 350px;
}

.full-width {
  width: 100%;
  font-size: calc(10px + .7vw);
}

button {
  border: none;
  background: darkturquoise;
  cursor: pointer;
  border-radius: 3px;
  padding: 12px;
  width: 100%;
  color: white;
  margin-top: 20px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
}
a {
  color: darkturquoise;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
}

p {
  margin-top: 24px;
  text-align: center;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
}
